body {
    background-color: #f5e9dc; /* svetla braon */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* TO DO: scrol and enlarge
/* .scrol-elements {
  animation: scroling linear;
  animation-timeline: view();
} */

header {
    background-color: #c8a97e;
    color: white;
    padding: 20px;
}

.header-flex {
    display: flex;
    align-items: baseline;
    gap: 40px;
    justify-content: left;
}


.header-flex img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

.circle-buttons {
  margin-left: 45%;
}

.circle-buttons img{
  border-radius: 50%;
  height: 40px;
  flex-direction: column;
}

/* .circle:nth-child(1) {
  height: 20px;
} */

.carousel-container {
    width: 800px;
    overflow: hidden;
    margin: 30px auto;
  }
  
  .carousel {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    list-style: none;
    padding: 10px;
  }
  
  .carousel::-webkit-scrollbar {
    display: none;
  }
  
  .carousel li {
    flex: 0 0 auto;
    scroll-snap-align: start;
  }
  
  .carousel img {
    width: 260px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  .carousel li {
    position: relative;
  }
  .carousel img.enlarged {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  }

footer {
    text-align: center;
    padding: 20px;
    color: #555;
    background-color: #e2d3c1;
}

hr {
    border: none;
    border-top: 1px solid #ccc;
}

/* 
@keyframes scroling {
  from{
    opacity: 0;
    scale: 0.5;
  }
  to{
    opacity: 1;
    scale: 1;
  }
} */
